<h1>Who we are?</h1>

<p> 12 weeks, 12 hours a day: these bootcamps are for serious learners. <strong> Lighthouse Labs </strong> full-time programs are the most intensive, immersive, accelerated courses that transform passionate and driven people into job-ready developers. From Prep Modules to Career Support, you’re surrounded by a community of developer mentors who are dedicated to your education and career goals.

When you have completed bootcamp, you will have lifelong access to our amazing career services team and a network of tech employers nationwide. </p>


